/* Police */
body
{
  font-style: normal;
  margin: 0px;
  font-family: 'helvetica', 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

/* Titres-Border */
h1, h3, h1+h2
{
  font-weight: normal;
}

h1
{
  margin-bottom: 0em;
  font-size: xx-large;
}

h2
{
  font-size: 18px;
  margin-top: 0.2em;
  margin-bottom: 5em;
}

h3
{
  color: black;
  font-size: 20px;
}

hr
{
  border-top: 2px solid #009688;
}

/* Sidebar */
.sidebar-title
{
  text-align: center;
  background-color: #263238;
  color: #00695C;
  padding: 4px;
  font-style: normal;
}

.sidebar-content
{
  margin: 10px;
  text-align: left;
  font-size: 13px;
}

#image-ronde
{
  width : 120px; height : 120px;
  border: none;
  -moz-border-radius : 75px;
  -webkit-border-radius : 75px;
  border-radius : 75px;
  margin: 68px;
  margin-bottom: 28px;
  margin-top: 28px;
  border: 2px solid #80CBC4;
}

#sidebar 
{
  display: block;
  width: 260px;
  background-color: #00695C;
  border-top: 2px solid #9E9E9E;
  border-left: 2px solid #9E9E9E;
  border-bottom: 2px solid #9E9E9E;
}

#about
{
  margin-bottom: 60em;
}

#contact
{
  margin-top: 3em;
  margin-bottom: 3em;
}

#activities
{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

/* Main */
.date-place
{
  text-align: left;
  width: 15em;
  margin-right: 2em;
}

.info
{
  width: 370px;
}

.company
{
  margin-bottom: 0.8em;
  font-weight: bold;
}

.job-name
{
  margin-bottom: 0.8em;
  font-size: 14px;
}

.description
{
  font-size: 14px;
}

.experience
{
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
}

#student
{
  border-bottom:2px solid #00695C;
}

#main 
{
  display: block;
  padding: 40px;
  border-top: 2px solid #9E9E9E;
  border-right: 2px solid #9E9E9E;
  border-bottom: 2px solid #9E9E9E;
}

#name
{
  color: #00695C;
}

#recommandation
{
  display: flex;
  justify-content: space-between;
  margin-right: 6em;
}

#experience-title
{
  margin-top: 5em;
}

/* Icones */
.fa-graduation-cap, .fa-pencil-alt, .fa-briefcase
{
  color: #00695C;
  margin-right: 1.5em;
}

.fa-dot-circle
{
  padding-top: 0.3em;
  font-size: 0.6em; 
  color: #00695C;
  margin-right: 0.5em;
  padding-right: 0.6em;
}

.fa-circle
{
  padding-top: 0.5em;
  font-size: 0.5em;
  color: #00695C;
  padding-right: 0.6em
}

.fa-laptop, .fa-utensils, .fa-video
{
  color: #263238;
  font-size: 1.5em;
  border: 2px solid #263238;
  padding: 10px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CSS pour petits écrans */
@media only screen and (max-width: 1024px) 
{
  body
  {
    display:flex;
    flex-wrap: wrap-reverse;
  }

  /* Sidebar */
  #section-image
  {
    display: flex;
    justify-content: center;
  }

  #sidebar
  {
    width: 100%;
    border: none;
  }

  #about
  {
    margin-bottom: 10em;
  }

  /* Main */
  #main
  {
    width: 100%;
    border: none;
    box-sizing: border-box;
    padding: 5px 5px;
  }

  #recommandation
  {
    display: flex;
    justify-content: space-around;
    margin-right: 0em;
  }
}


