@font-face
{
  font-family: 'helvetica';
  src: url('helvetica-webfont.eot');
  src: url('helvetica-webfont.eot?#iefix') format('embedded-opentype'),
       url('helvetica-webfont.woff') format('woff'),
       url('helvetica-webfont.ttf') format('truetype'),
       url('helvetica-webfont.svg#droid_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body
{
  font-style: normal;
  margin: 0px;
  font-family: helvetica, 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

.experience
{
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
}

.date-place
{
  text-align: left;
  width: 15em;
  margin-right: 2em;
}

.info
{
  width: 370px;
}

.company
{
  margin-bottom: 0.8em;
  font-weight: bold;
}

.job-name
{
  margin-bottom: 0.8em;
  font-size: 14px;
}

.description
{
  font-size: 14px;
}

#frame
{
  
  border: 1px groove grey;
}

#student
{
  border-bottom:2px solid #00695C;
}


h1, h3, h1+h2
{
  font-weight: normal;
}

h1
{
  margin-bottom: 0em;
  font-size: xx-large;
}

h2
{
  font-size: 18px;
  margin-top: 0.2em;
  margin-bottom: 4em;
}

h3
{
  color: black;
}

ul 
{
  list-style: none;
}

.maincolor
{
	color: #00695C;
}

.fa-graduation-cap
{
  color: #00695C;
  margin-right: 1.5em;
}

.fa-briefcase
{
  color: #00695C;
  margin-right: 1.5em;
}

.fa-pencil-alt
{
  color: #00695C;
  margin-right: 1.5em;
}

.fa-dot-circle
{
  padding-top: 0.3em;
  font-size: 0.6em; 
  color: #00695C;
  margin-right: 0.5em;
  padding-right: 0.6em;
}

.fa-circle
{
  padding-top: 0.5em;
  font-size: 0.5em;
  color: #00695C;
  padding-right: 0.6em
}

.fa-utensils 
{
  font-size: 1.3em;
}

.fa-laptop
{
  font-size: 1.5em;
}

.fa-video
{
  font-size: 1.5em;
}

.fa-laptop, .fa-utensils, .fa-video
{
  border: 2px solid black;
  padding: 10px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#activities
  {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
  }

#image-ronde
{
  width : 120px; height : 120px;
  border: none;
  -moz-border-radius : 75px;
  -webkit-border-radius : 75px;
  border-radius : 75px;
  margin: 48px;
  margin-bottom: 28px;
  margin-top: 28px;
  border: 2px solid #80CBC4;
}

#sidebar 
{
  display: block;
  width: 220px;
  background-color: #00695C;
  border-top: groove;
  border-left: groove;
  border-bottom: groove;
}

#main 
{
  display: block;
  padding: 40px;
  border-top: groove;
  border-right: groove;
  border-bottom: groove;
}

.sidebar-title
{
  text-align: center;
  background-color: #404040;
  color: #00695C;
  padding: 4px;
  font-style: normal;
}

.sidebar-content
{
  margin: 10px;
  text-align: left;
  font-size: 13px;
}

#name
{
  color: #00695C;
}

#about
{
  margin-bottom: 10em;
}

/* CSS pour petits écrans */
@media only screen and (max-width: 1024px) 
{
  body
  {
    display:flex;
    flex-wrap: wrap-reverse;
  }
  #section-image
  {
    display: flex;
    justify-content: center;
  }

  #sidebar
  {
    width: 100%;
    border: none;
  }

  .sidebar-content
  {
    display: flex;
    justify-content: center;
    font-size: 
  }

  #main
  {
    width: 100%;
    border: none;
  }
}


